:root{
    --navy-blue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cornflower: #E7E9FC;
    --ocean: #404BBF;
    --cloud:#F4F4FD;
}

@media screen and (min-width: 768px) and (max-width:1279px) {

    header{
        display: block;
        margin: 0;
    }

    .menu-container{
        display: none;
    }

    .container{
        width: 100%;
        max-width: 767px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .header{
        display: block;
        width: 100%;
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        padding: 0;
    }


    .header-logo-color{
        color: var(--navy-blue);
    }
    

    
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    
    .header-nav{
      display: flex;
      align-items: center;
    
    }
    
    .header-list{
        list-style: none;
        display: flex;
        align-items: center;
        margin-left: 120px;
        align-items: center;
    
    }
    
    .header-list-item{
        margin-right: 40px;
    }
    
    .header-list-item:last-child{
        margin-right: 0;
    }
    
    .header-list-item a{
        display: block;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        padding: 24px 0px;
    
        transition-property:color ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-list-item a:is(:hover, :focus){
        color: var(--ocean)
    }
    
    .header-contacts-list{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    
    }
    
    
    .header-contacts-list-item a{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;

        letter-spacing: 0.04em;
        color: var(--slate);
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    }

    .header-contacts-list-item:first-child{
        margin-bottom: 12px;

    }

    .header-contacts{
        display: block;
    }

    .burger{
        display: none;
    }


    
   

    .hero{
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero-tablet-2x.jpg);
    }
}

    .hero-heading{
        font-size: 56px;
        line-height: 1.07;
    
        max-width: 496px;
        margin-bottom: 48px;
    }

    .features{
        padding: 96px 0;

    }

    .features-list{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap:72px;
        column-gap: 24px;
    } 
    
    .features-list-item{
        width: calc((100% - 24px)/2);
    }
    
    .features-list-item-heading{
        width: 100%;
        text-align: left;
    }

    .team{
        padding: 96px 0;
    }

    .team-container{
        max-width: 582px;
        width: 100%;
        padding: 0 15px;
    }

    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .team-list-item{
        width: calc((100% - 24px)/2)
    }

    .team-list-item:nth-child(1), .team-list-item:nth-child(4){
        margin-bottom: 64px;
    }

    .customers-container{
        max-width: 582px;
        width: 100%;
        padding: 0 15px;
    }

    .customers{
        padding: 96px 0;
    }

    .customers-list{
        row-gap: 72px;
        column-gap: 24px;
        width: 100%;
    }

    .customers-list-item {
        width: 168px;
    }

    .customers-list-item a{
        width: 168px;
    }


  

    .footer-container{
        max-width: 582px;
        width: 100%;
        padding: 0 15px;

        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-social{
        margin-bottom: 0;
    }

    .footer-content{
        text-align:left;
    }

    .footer-logo{
        width: 100%;
        text-align-last: left;    
    }

    .footer-social-title{
        text-align: left;
    }

    .footer-form{
        width: 453px;
    }

    .footer-form-mail-label{
        text-align-last: left;
    }

    .form-group{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-form-mail-input{
        margin-bottom: 0;
        width: 264px;
    }


}